body{background-color:#252c33;font-size:1em;}

._input{display:block;position:absolute;top:420px;left:0;right:0;width:32.6666666666%;height:56px;margin:0 auto;padding:0 10px;border:7px solid rgb(255, 255, 255);border-radius:59px;background-color:#252c33;font:400 0.813em/1.38 Montserrat;color:rgb(0, 0, 0);}