body{background-color:rgb(25, 78, 253);font-size:1em;}

._input{display:block;float:left;width:67.6666666666%;height:72px;margin:483px 0 0 16%;padding:0 10px;border-radius:84px;background-color:rgb(255, 255, 255);box-shadow:-7px 2px 50px 3px rgba(0, 0, 0, .5);font:700 0.813em/1.38 Montserrat;text-align:center;color:rgb(0, 0, 0);}